

.card {
    animation-name: flipInX;
    animation-duration: 2s;
}

.dark {
  color: '#fff';
}

@keyframes flipInX {
    from {
      transform: perspective(2500px) rotatey(90deg);
      animation-timing-function: ease;
      opacity: 0;
    }
    /* 40% {
      transform: perspective(2500px) rotatey(-20deg);
      animation-timing-function: ease;
    } */
    /* 60% {
      transform: perspective(2500px) rotatey(10deg);
      opacity: 1;
    } */
    /* 80% {
      transform: perspective(2500px) rotatey(-5deg);
    } */
    to {
      transform: perspective(2500px);
    }
  }

  @media (max-width: 768px) {
    .card {
      /* display: flex; */
      height: 5px !important;

    }

    .grid, .card p {
      /* align-items: center;
      justify-content: center; */
      margin: 0 auto;
      padding: 20px;
    }


    .grid, .card button {
      margin: 0 auto;
    }

    .grid, .card {
      border: 1px solid red;
    }
  }

  