.section {
    height: 420px;
    background-image: url('https://desafio19-rachi.vercel.app/assets/contact-background.f1b47abe.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    object-fit: fill;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 50rem;
    width: 100%;
    height: 100%;
    padding: 50px 20px;
    margin: 0 auto;
    animation: fade-in 1s ease-in-out forwards;
}

.container header {
    text-align: center;
}

.container header h2 {
    color: #fff;
    margin-bottom: 1.4rem;
}

.container header p {
    color: #DBDBDB;
    font-size: 1.6rem;
    line-height: 2.5rem;
}

.form {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.fields {
    display: flex;
    flex-direction: column;
}

.fields input {
    padding: 1rem;
    background: transparent;
    border: none;
    outline: none;
    position: relative;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
}

.fields label {
    background: #fff;
    height: 2px;
    position: relative;
}

@keyframes fade-in {
    from {
      opacity: 0; /* Começa com opacidade 0 */
      transform: translateY(100px); /* Inicia 20px abaixo da posição normal */
    }
    to {
      opacity: 1; /* Termina com opacidade 1 */
      transform: translateY(0); /* Retorna à posição normal */
    }
  }

@media (max-width: 768px) {
    .form button {
        margin: 0 auto;
    }
}